.form-group{
    display: grid;
    grid-template-columns: 20% 75%;
    label{
        grid-column: 1;
    }
    input{
        grid-column: 2;
    }
}

.form-group-origine{
    display: grid;
    grid-template-columns: 20% 75%;
    .label-origine{
        grid-column: 1;
    }
    .check-origine{
        grid-column: 2;
    }

}


